<div class="contenedor">
  <div class="row card">
    <div class="col s8 offset-s2"><br><br>
      <div class="p-grid"><br><br>
        <label class="tituloGeneral">CAMBIAR CONTRASEÑA<br><br></label>
      </div>
      <div class="p-grid"><br><br>

        <form [formGroup]="form" (ngSubmit)="submit($event)" autocomplete="off" class="form-auth">
          <div class="row">
            <div class="col s6 offset-s2">


              <div class="p-col-12">
                <div class="p-grid">
                  <div class="input-wrapper">
                    <div class="p-col-8">
                      <div class="p-col-12">
                        <label class="formLabel left-align">Contraseña nueva (*)</label>
                      </div>
                      <div class="ui-fluid">
                        <div class="p-grid p-fluid">
                          <div class="p-col">
                            <div class="p-inputgroup">
                               <input type="password" name="clave_privada" id="clave_privada" formControlName="clave_privada">
<!--
                              <p-password formControlName=clave_privada [toggleMask]="true" [feedback]="false" [style]="{'width': '100%'}"></p-password>
                              -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <div class="row">
            <div class="col s6 offset-s2">


              <div class="p-col-12">
                <div class="p-grid">
                  <div class="input-wrapper">
                    <div class="p-col-8">
                      <div class="p-col-12 ">
                        <label class="formLabel left-align">Contraseña confirmación (*)</label>
                      </div>
                      <div class="ui-fluid">
                        <div class="p-grid p-fluid">
                          <div class="p-col">
                            <div class="p-inputgroup">
                               <input type="password" name="nuevaclave" id="nuevaclave" formControlName="nuevaclave">

                              <!--
                              <p-password formControlName=nuevaclave [toggleMask]="true" [feedback]="false" [style]="{'width': '100%'}"></p-password>
                              -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

          <div class="row" *ngIf="form.invalid && this.getNuevaClave.value != ''">
            <div class="col s12" id="cambiodetamanio11">
              <div class="col s10 offset-s1" id="cambiodetamanio11">
                <div class="msg msg-error z-depth-3 scale-transition"  > La contraseña debe contener 1 letra mayúscula. </div>
                <div class="msg msg-error z-depth-3 scale-transition"  > La contraseña debe contener 1 letra minúscula. </div>
                <div class="msg msg-error z-depth-3 scale-transition"  > La contraseña debe contener 1 número. </div>
                <div class="msg msg-error z-depth-3 scale-transition"  > La contraseña debe contener 1 carácter Especial (_.-,=!,*+#$%/). </div>
                <div class="msg msg-error z-depth-3 scale-transition"  > La contraseña debe contener 8 caracteres. </div>

             </div>
            </div>
          </div>

          <div class="p-col-12">
            <div class="p-grid p-text-center">
              <div class="input-wrapper">
                <div class="p-col-12">
                  <div class="ui-fluid">
                    <div class="p-grid">
                      <div class="col s4 offset-s3">
                        <button [disabled]="form.invalid" pButton type="submit" label="Cambiar contraseña"></button><br><br>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>

      </div>

    </div>
  </div>
</div>
