<div class="container" *ngIf="this.user!=undefined"><br>
  <ul class="collapsible">
    <li class="listanormal">
      <div class="collapsible-header valign-wrapper"> </div>
      <div class="row">
        <div class="col s10 offset-s1" id="cambiodetamanio">
          <div class="col s12"><br><br>
          </div>

          <ng-container *ngIf="mostrarTablaPendientes">

            <div class="col s12" id="cambiodetamanio"><br><br>
              <ng-container *ngIf="arrayCitas!=undefined">
                <ng-container *ngIf="arrayCitas.length==0">
                  <div class="center">
                    <label class="redTitulo">SIN CITAS PENDIENTES.</label><br><br>
                  </div>
                  <div class="center"> <br><br>
                  </div>
                </ng-container>
                <ng-container *ngIf="arrayCitas.length>0">
                  <div class="col s12" id="cambiodetamanio" >
                    <div class="col s12" id="cambiodetamanio">
                      <label class="descripcionPanel"> Citas pendientes </label>
                    </div>
                  </div>
                  <div class="col s12" id="cambiodetamanio" >
                    <div class="col s12" id="cambiodetamanio" *ngIf="this.user.rol.nombre == 'OPERADOR'">
                      <label class="advertencia"> VALIDA LAS CITAS PENDIENTES PARA PODER CONTINUAR.</label>
                    </div>
                    <div class="col s12" id="cambiodetamanio" *ngIf="this.user.rol.nombre == 'ENCARGADO'">
                      <label class="advertencia"> CITAS SIN VALIDAR, ES RECOMENDABLE VALIDARLAS.</label>
                    </div>
                  </div>
                  <div class="col s12" id="cambiodetamanio" ><br><br>
                  </div>

                   <div class="col s12" id="cambiodetamanio" >
                    <p-table  #tt [value]="arrayCitas" [paginator]="true" [rows]="10"
                      [globalFilterFields]="['folio','nombre','telefono','tramite','hora']" [responsive]="true">
                      <ng-template pTemplate="caption">
                        <div class="valign-wrapper">
                          <label class="label-icon" for="search" id="lupasearch"><i class="material-icons">search</i></label>
                          <input id="inputsearchuser" type="text" pInputText size="35" (input)="tt.filterGlobal($event.target.value, 'contains')"><br>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th style="width:10%">
                            <label class="conseciontitulo">
                              Folio
                            </label>
                          </th>
                          <th style="width:30%">
                            <label class="conseciontitulo">
                              Nombre
                            </label>
                          </th>
                          <th style="width:10%">
                            <label class="conseciontitulo">
                              Teléfono
                            </label>
                          </th>
                          <th style="width:10%">
                            <label class="conseciontitulo">
                              Día
                            </label>
                          </th>
                          <th style="width:10%">
                            <label class="conseciontitulo">
                              Hora
                            </label>
                          </th>
                          <th style="width:10%">
                            <label class="conseciontitulo">

                            </label>
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-cita let-columns="columns">
                        <tr>
                          <td>
                            <label class="conseciondatos"> {{cita.folio}}</label>
                          </td>
                          <td>
                            <label class="conseciondatos"> {{cita.nombre}}</label>
                          </td>
                          <td>
                            <label class="conseciondatos"> {{cita.telefono}}</label>
                          </td>
                          <td>
                            <label class="conseciondatos"> {{cita.fecha}}</label>
                          </td>
                          <td>
                            <label class="conseciondatos"> {{cita.hora}}</label>
                          </td>
                          <td>
                            <div class="col s12">
                              <div class="tooltip">
                                <button pButton pRipple type="button" icon="pi pi-id-card" class="p-button-rounded p-button-info p-button-outlined" (click)="mostrarinformacioncita(cita)"></button>
                                <span class="tooltiptext">Ver Información</span>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>


                </ng-container>

              </ng-container>



            </div>
          </ng-container>
          <ng-container *ngIf="mostrarcita && objCita!=undefined">

            <div class="col s12" id="cambiodetamanio" >
<!--
                  <div class="col s8 offset-s1">
                    <div class="ui-toolbar ui-widget ui-widget-header ui-corner-all ui-helper-clearfix" >
                      <a class="btn waves-effect waves-light" icon="pi pi-angle-left" (click)="recargar()">Regresar</a>

                     </div>
                  </div>
                  -->
                  <div class="col s12"><br></div>


                  <ng-container *ngIf="estado_actual_cita!=undefined">

                    <div class="col s12" id="cambiodetamanio">
                      <div class="col s12 center-align" id="cambiodetamanio">
                        <label *ngIf="estado_actual_cita.nombre.toUpperCase()=='PENDIENTE'" class="titulo_general"> CITA PENDIENTE </label>
                        <label *ngIf="estado_actual_cita.nombre.toUpperCase()=='CON OBSERVACIONES'" class="titulo_general"> CITA CON OBSERVACIONES </label>
                        <label *ngIf="estado_actual_cita.nombre.toUpperCase()=='SIN OBSERVACIONES'" class="titulo_general"> CITA SIN OBSERVACIONES </label>
                      </div>
                    </div>

                    <div class="col s12" id="cambiodetamanio"><br>
                    </div>



                   </ng-container>

                  <div class="col s12" id="cambiodetamanio">
                    <div class="col s4" id="divresponsivosinright">
                      <label class="conseciontitulored">Folio: </label>
                    </div>
                    <div class="col s6" id="cambiodetamanio">
                      <label class="conseciontitulolabel"> {{this.objCita.folio_general}} </label>
                    </div>
                  </div>
                  <div class="col s12" id="cambiodetamanio">
                    <div class="col s4" id="divresponsivosinright">
                      <label class="conseciontitulored">Nombre Completo: </label>
                    </div>
                    <ng-container *ngIf="this.objCita!=undefined">
                      <div class="col s6" id="cambiodetamanio">
                        <label class="conseciontitulolabel"> {{this.objCita.nombre}}</label>
                      </div>
                    </ng-container>

                  </div>

                  <div class="col s12" id="cambiodetamanio">
                    <div class="col s4" id="divresponsivosinright">
                      <label class="conseciontitulored">RFC: </label>
                    </div>
                    <div class="col s6" id="cambiodetamanio">
                      <label class="conseciontitulo"> {{this.objCita.rfc}} </label>
                    </div>
                  </div>

                  <div class="col s12" id="cambiodetamanio">
                    <div class="col s4" id="divresponsivosinright">
                      <label class="conseciontitulored">Email: </label>
                    </div>
                    <div class="col s6" id="cambiodetamanio">
                      <label class="conseciontitulolabel" *ngIf="this.objCita!=undefined"> {{this.objCita.email}} </label>
                    </div>
                  </div>
                  <div class="col s12" id="cambiodetamanio">
                    <div class="col s4" id="divresponsivosinright">
                      <label class="conseciontitulored">Teléfono : </label>
                    </div>
                    <div class="col s6" id="cambiodetamanio">
                      <label class="conseciontitulolabel" *ngIf="this.objCita!=undefined"> {{this.objCita.telefono}} </label>
                    </div>
                  </div>
                  <div class="col s12" id="cambiodetamanio">
                    <div class="col s4" id="divresponsivosinright">
                      <label class="conseciontitulored">Día: </label>
                    </div>
                    <div class="col s6" id="cambiodetamanio">
                      <label class="conseciontitulolabel" *ngIf="this.objCita!=undefined">
                        {{this.objCita.fecha}}
                      </label>
                    </div>
                  </div>
                  <div class="col s12" id="cambiodetamanio">
                    <div class="col s4" id="divresponsivosinright">
                      <label class="conseciontitulored">Hora: </label>
                    </div>
                    <div class="col s6" id="cambiodetamanio">
                      <label class="conseciontitulolabel"> {{this.objCita.hora}} </label>
                    </div>
                  </div>



                  <div class="col s12" id="cambiodetamanio">
                    <div class="col s4" id="divresponsivosinright">
                      <label class="conseciontitulored">Trámite solicitado: </label>
                    </div>
                    <div class="col s6" id="cambiodetamanio">
                      <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                          <div class="col s12">
                            <p-dropdown id="inputArea" [options]="tramites" [(ngModel)]="tramiteSeleccionado" filter="true" placeholder="Selecciona un trámite" (onChange)="cambioTramite($event)" [style]="{'width':'100%'}">
                              <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                              </ng-template>
                              <ng-template let-car pTemplate="item">
                                <div>
                                  <div>{{car.label}}</div>
                                </div>
                              </ng-template>
                            </p-dropdown>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col s12" id="cambiodetamanio" *ngIf="objCita.tramite_confirmacion!=undefined">
                    <div class="col s4" id="divresponsivosinright">
                      <label class="conseciontitulored">Trámite Atendido: </label>
                    </div>
                    <div class="col s6" id="cambiodetamanio">
                      <label class="conseciontitulo">  {{objCita.tramite_confirmacion.nombre}}  </label>
                    </div>
                  </div>
                  <div class="col s12"><br>
                  </div>
                  <div class="col s12" id="cambiodetamanio" *ngIf="objCita.tramite_confirmacion!=undefined">
                    <div class="col s4" id="divresponsivosinright">
                      <label class="conseciontitulored">Atendido por: </label>
                    </div>
                    <div class="col s6" id="cambiodetamanio">
                      <label class="conseciontitulo" *ngIf="objCita.user!=undefined">  {{objCita.user.nombre}} {{objCita.user.primer_apellido}} {{objCita.user.segundo_apellido}}  </label>
                    </div>
                  </div>
                <ng-container *ngIf="estado_actual_cita!=undefined">
                  <ng-container *ngIf="estado_actual_cita.nombre=='PENDIENTE'">
                    <div class="col s12" id="cambiodetamanio">

                      <div class="row">
                        <div class="col s10 offset-s1">
                          <div class="col s6" id="cambiodetamanio1">
                            <p>
                              <label>
                                <input autocomplete="off" id="inputdefault" class="with-gap" name="group1" type="radio" (click)="sinobservaciones()"/>
                                <span class="buscadores"><label class="buscadores">Sin Observaciones</label></span>
                              </label>
                            </p>
                          </div>
                          <div class="col s6" id="cambiodetamanio2">
                            <p>
                              <label>
                                <input autocomplete="off" class="with-gap" name="group1" type="radio" (click)="conobservaciones()" />
                                <span class="buscadores"><label class="buscadores">Con Observaciones</label></span>
                              </label>
                            </p>
                          </div>
                        </div>
                      </div>


                    </div>
                  </ng-container>
                </ng-container>


                <ng-container *ngIf="estado_actual_cita!=undefined">
                  <ng-container *ngIf="estado_actual_cita.nombre.toUpperCase()=='CON OBSERVACIONES'">
                    <div class="col s12"><br><br>

                    <label class="conseciontitulored">Comentario:</label><br><br>

                  <textarea id="comentario" name="comentario" data-length="300" maxlength="300" [(ngModel)]="this.objCita.observacion" class="materialize-textarea" disabled></textarea>
                </div>

                  <div class="col s12"><br><br>
                    <label class="conseciontitulored">Requisitos:</label><br><br>

                    <ng-container *ngFor="let requisito of requisitosvalidados">
                      <div class="col s12">

                        <div class="col s1">
                         <ng-container *ngIf="requisito.valor">
                             <i class="material-icons">check_circle</i>
                          </ng-container>
                          <ng-container *ngIf="!requisito.valor">
                              <i class="material-icons">cancel</i>
                           </ng-container>
                        </div>
                        <div class="col s10">
                          {{requisito.nombre}}

                        </div>
                      </div>
                      <div class="ui-g-12"><br></div>
                    </ng-container>
                   </div>
              </ng-container>
            </ng-container>


            <ng-container *ngIf="booleanconobservaciones">
              <div class="col s12"><br><br>
                <label class="conseciontitulored">Requisitos:</label><br><br>

                <ng-container *ngFor="let requisito of requisitos">
                  <div class="ui-g-12"><p-checkbox name="group1" value={{requisito.nombre}} label={{requisito.nombre}} [(ngModel)]="selectedrequisitos" ></p-checkbox></div>
                  <div class="ui-g-12"><br></div>
                </ng-container>
               </div>

              <div class="col s12"><br><br>
                <label class="conseciontitulored">Comentario:</label><br><br>
                <ng-container *ngIf="tramiteSeleccionado!=undefined">
                    <textarea id="comentario" name="comentario" data-length="300" maxlength="300" [(ngModel)]="comentario" class="materialize-textarea"></textarea>
                </ng-container>
                 <br><br>
              </div>


            </ng-container>


            <ng-container *ngIf="booleansinobservaciones || booleanconobservaciones">
              <div class="col s12 center-align"><br><br>
                <div class="col s6">
                  <div class="ui-toolbar ui-widget ui-widget-header ui-corner-all ui-helper-clearfix" >
                   <a class="btn waves-effect waves-light blue" icon="pi pi-angle-left" (click)="recargar()">Regresar</a>

                  </div>
                </div>
                <div class="col s6">
                     <div class="ui-toolbar ui-widget ui-widget-header ui-corner-all ui-helper-clearfix" >
                     <a class="btn waves-effect waves-light" icon="pi pi-angle-left" (click)="aplicarCita()">Atender Cita</a>

                    </div>

                </div>



              </div>
            </ng-container>


            <ng-container *ngIf="estado_actual_cita!=undefined">
              <ng-container *ngIf="estado_actual_cita.nombre.toUpperCase()=='SIN OBSERVACIONES' || estado_actual_cita.nombre.toUpperCase()=='CON OBSERVACIONES'">

                <div class="col s12 center-align"><br><br>
                  <div class="col s12">
                    <div class="ui-toolbar ui-widget ui-widget-header ui-corner-all ui-helper-clearfix" >
                     <a class="btn waves-effect waves-light blue" icon="pi pi-angle-left" (click)="recargar()">Regresar</a>

                    </div>
                  </div>



                </div>
              </ng-container>
            </ng-container>


            <div class="col s12"><br><br>
            </div>
            </div>
            <div class="col s12"><br><br>
            </div>
          </ng-container>









        </div>
      </div>
    </li>
  </ul>
</div>
